@import "../../../config/_variables";

@media screen and (max-width:480px) {
  .home .topSection {

    background: url("/mifton-img.jpeg") no-repeat;
    background-size: cover;

    &_backGroundSection {
      .title {
        text-align: center;
        font-size: 24px;
        color: white;
        padding-top: 100px;
      }

      .descript {
        text-align: left;
        color: white;
        font-size: 14px;
        padding: 20px 15px 30px;
      }
    }

    &_signUpSection {
      display: none;
    }
  }
}
