$base-color: #ec6d51; //Header,Footer,Button
$text-color: white;   //Text
$script-color: black; //descriptText
$biggest-text-size: 70px; //h1
$large-text-size: 32px; //h2
$no-eye-catching-color: darkgray; //smallText
$no-eye-catching-size: 12px; //smallText
$crafes-base-color: #00a3af; //Header,Footer,Button Of Crafes
$crafes-bg-color: #a2d7dd;   //Background Color Of Crafes
$crafes-text-color: #008899; //Text Of Crafes

// 変数
$fontsize_normal: 1em;
