@import "../../../mixin/_pc_header";

@media screen and (min-width:1440px) {
  .bector {
    background-color: #eaf4fc;

    .application_header {
      @include application_header(linear-gradient(to right, #182848, #4b6cb7));
    }
  }
}

.app_reactionContainer {
  display: flex;

  &:hover {
    background-color: #f3f3f2;
  }
}

.app_reaction {

  button {
    border: none;
    font-size: 18px;
    color: gray;
    outline: none;
    background-color: rgba(0,0,0,0);
  }

  span {
    padding-right: 5px;
    color: black;

    &:visited {
      color: black;
    }
  }
  &-gray {
    color: #afafb0;
  }

  &-pink {
    color: #f09199;
  }

  &-blue {
    color: #0095d9;
  }

  &-deepskyblue {
    color: #007bbb;
  }

  &-darkorange {
    color: #eb6101;
  }

  &-red {
    color: #e83929;
  }
}
