

@media screen and (min-width:1440px) {
  // wideで大枠を読み込み
}

.app_reactionContainer {
  display: flex;

  &:hover {
    background-color: #f3f3f2;
  }
}

.app_reaction {

  button {
    border: none;
    font-size: 18px;
    color: gray;
    outline: none;
    background-color: rgba(0,0,0,0);
  }

  span {
    padding-right: 5px;
    color: black;

    &:visited {
      color: black;
    }
  }
  &-gray {
    color: #afafb0;
  }

  &-pink {
    color: #f09199;
  }

  &-blue {
    color: #0095d9;
  }

  &-deepskyblue {
    color: #007bbb;
  }

  &-darkorange {
    color: #eb6101;
  }

  &-red {
    color: #e83929;
  }
}
