@import "../../../config/_variables";
@import "../../../mixin/_main-button";


.admins_new {
  display: flex;

  &__content-wrapper {

    &--container {
      padding: 10px 20px;

      table {
        td {
          padding: 5px 10px;
        }
        input {
          width: 300px;
        }
      }

      &--submit {
        @include main-button(300px);
        margin: 10px auto;
        font-size: 15px;
      }
    }
    width: 85%;


    h1 {
      border-bottom: 3px $base-color dotted;
      margin-bottom: 20px;
      padding: 10px;
    }
  }
}
