- if @contest.holding_times == 0
  h1= @contest.name
- else
  h1= "#{@contest.name} ##{@contest.holding_times}"

p= "writer: #{@contest.writer}"
p= "Rated対象: #{@contest.rating - 1}"
p= "ペナルティ: #{@contest.penalty}"
p= "開催時刻: #{@contest.start_time.strftime("%Y-%m-%d %H:%M")} ~ #{(@contest.start_time + @contest.length * 60).strftime("%Y-%m-%d %H:%M")}"
p= "時間: #{@contest.length}分"

p= link_to "第一問", "#{@contest.id}/problem_1"
p= link_to "第二問", "#{@contest.id}/problem_2"
p= link_to "第三問", "#{@contest.id}/problem_3"
p= link_to "第四問", "#{@contest.id}/problem_4"
