

@media screen and (min-width:1440px) {

  .crafes {
    .application_header {

      background: linear-gradient(262deg, #00978d 0%, #0D5331 100%) no-repeat 50% 50% / 100% 100%;
      height: 50px;
      color: white;


      &_naviList {
        display: flex;

        i {
          padding-right: 1vw;
        }

        height: 100%;
        &_group {
          margin: 0 auto;
          width: 100%;
          height: 100%;
          text-align: center;
          line-height: 50px;

          &-image {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
        a {
          color: white;
          height: 50px;
          display: block;
          font-size: 1.4vw;
        }
        img {
          display: block;
          height: 80%;
          border-radius: 50%;
          margin: auto 0;
          line-height: 50px;
        }
      }
    }

    &_noticeLine {
      margin-top: 10px;
      article {
        margin-top: 10px;
        padding: 3px 10px;
        border-radius: 5px;
        background-color: white;

        hr {
          margin-top: 5px;
          border: 0.5px solid gray;
        }
      }

      &_title {
        display: block;
        font-size: 1.2em;
        padding: 5px;
      }

      &_detail {
        margin-top: 10px;
      }
    }
  }

}
