<div class="main">
  <h1>Miftonとは？</h1>
  <p>
    MinecraftBEユーザーが、2つ目のSNSとして利用できるように最適化されたSNSです。Twitter、Google+、Lobi、MinepicsなどのSNSをメインに利用している方が、MinecraftBEのみの情報や話題で盛り上がれる場を作りたいと思い、開発されています。
  </p>
  <h2>Bector</h2>
  <h2>Planeeds</h2>
  <h2>Tiprint</h2>
  <p>Tiprintは、Miftonの前身である、技術共有ブログです。複数人のスタッフによって最先端の情報が記事になります。</p>
  <h2>Qrafters</h2>
  <p>Qraftersは、MinecraftBEユーザーの質問交流サービスです。</p>
  <h2>Crafes!</h2>
  <p>Crafes! は、2018年に開催された、MinecraftBE Tech Contestの後継サービスです。毎週日曜日18:00~ 大会が開催されます。運営に申請することで、自ら大会を開くこともできます。</p>
</div>
