<div class="main">
  <h1>Miftonとは？</h1>
  <p>
    MinecraftBEユーザーが、2つ目のSNSとして利用できるように最適化されたSNSです。Twitter、Google+、Lobi、MinepicsなどのSNSをメインに利用している方が、MinecraftBEのみの情報や話題で盛り上がれる場を作りたいと思い、開発されています。
  </p>
  <h2>Bector</h2>
  <h2>Planeeds</h2>
  <h2>Tiprint</h2>
  <h2>Qrafters</h2>
  <h2>MineCoders</h2>
</div>
