h1 権限者

p Miftonを運営するにあたり、管理者によって信頼されたユーザーが様々な業務を行なっています。
p 名前のカラーが違うユーザーは、権限者/名誉ユーザーです。
p このページではその権限について説明します。

h2 style="color:red;" C-AD (Chief administrator / 管理責任者)
p Mifton全体の管理・運営を行うユーザーです。
p ADの中でも特に強い権限を持ち、全ての提供されたアプリケーションにおいて独自に判断を下せます。
p 管理者の強い信頼・Miftonへの理解があるユーザーのみがなることができます。
p admin momiyama

h2 style="color:green;" AD (Administrator / 管理者)
p ユーザー・オブジェクトの秘匿、管理への参加を行うユーザーです。
p Miftonについて詳しく、発展に協力的なユーザーがなることができます。

h2 style="color:deepskyblue;" T-User (Trust User / 管理者候補)
p 普段からMiftonを利用し、コミュニティ形成に良い影響を与えているユーザー。

h2 style="color:orchid;" 開発者
p Miftonの開発を行なっているユーザー。
p C-ADと同じ権限を持ち、開発を行っている。
p momiyama

h2 style="color:gold;" 寄付者
p Miftonのサーバー・ドメインをはじめとする開発費を援助してくださった方々。

h2 style="color:lightseagreen;" 作問者
p Crafes!の公式作問者。優秀な作問能力や、日頃からの問題提供によってなることができる。
p momiyama
