<div class="main">

  <div class="signup-box">
    <p class="mifton-logo"><img src="/miftonLogo.png" class="logo-img"></p>
    <p>Minecraftをもっと面白く、もっと便利に。</p>
    <div class="signupBtn-wrapper">
      <p>これらのSNSから登録できます。</p>
      <div class="btn-wrapper">
        <a class="btn twitter-btn">
          <i class="fab fa-twitter fa-inverse"></i>
          Twitter
        </a>
        <a class="btn google-btn">
          <i class="fab fa-google-plus-g fa-inverse"></i>
          Google
        </a>
        <a class="btn lobi-btn">
          <i class="fas fa-mobile-alt fa-inverse"></i>
          Lobi
        </a>
      </div>

    </div>
    <hr />
    <div class="signup-wrapper">
      <p>メールアドレスで登録できます。</p>
      <ul>
        <li class="signup-input">
          <input value="メールアドレス"/>
        </li>
        <li class="signup-input">
          <input value="ニックネーム"/>
        </li>
        <li class="signup-input">
          <input value="パスワード"/>
        </li>
      </ul>
      <div class="mail-signup">登録する</div>
    </div>
    <hr />
    <div>
      <div>ログイン</div>
    </div>
  </div>
  <div class="signup-img">
    <img src="/homeImg.jpg"/>
  </div>
</div>
