h1 大会開催申請を行う
p Crafes!では、自分で作問をして大会を開催することができます。
p 問題内容によっては運営が却下する場合や、問題を一部差し替える場合もあります。
p スパムの送信を行うユーザーは、アカウント凍結などの処置が取られます。
p 大会名
input type="text" name="name"/
h2 回数
input type="number" name="times"/ 
h2 一問目 タイトル
input type="text" name="q1title"/
h2 一問目
textarea# name="q1" cols="30" rows="10"
h2 二問目　タイトル
input type="text" name="q2title"/
h2 二問目
textarea# name="q2" cols="30" rows="10"
h2 三問目　タイトル
input type="text" name="q3title"/
h2 三問目
textarea# name="q3" cols="30" rows="10"
h2 四問目　タイトル
input type="text" name="q4"/
h2 四問目
textarea# name="q4" cols="30" rows="10"
input type="submit"/