<div class="main">
  <h1>Crafes!</h1>
  <h2>Crafes! は、MinecraftBEの技術を競う大会。</h2>
  <h2>Miftonアカウントを使って君も大会に参加しよう！</h2>
  <%= link_to("大会一覧","/crafes/fes-index") %>
  <%= link_to("大会を申請する","#") %>
</div>
