h1 アドオンを作る

h2 選択

h3 ビヘイビアパック

p コンフィグ(behavior/entities/xxx.json)
p ルートテーブル(behavior/loot_tables/xxx.json)
p レシピ(behavior/recipes)
p スポーンルール(behavior/spawn_rule)
p トレーディング(behavior/trading)

h3 Scripting API

p クライアント(script/client)
p サーバー(script/server)


hr

p Newでテンプレートを作成 >> Editで開発
p script model
p 作成したファイルは公開/非公開を選べる
p スクリプトモデルを統合してアドオンにすることも可能
