.admins-menu-wrapper {

  width:15%;
  background-color:  #888084;
  color: white;

  &--sticky {
    height: 750px;
    position: sticky;
    top: 10px;

    &--group {
      margin: 5px 0;
    }
  }

  font-size: 18px;

  i {
    padding-left: 10px;
  }

  a {
    padding-left: 5px;
    &:visited {
      color: white;
    }
  }

  li {
    padding: 2px 0 2px 20px;
    list-style: inside;
    font-size: 13px;

    span {
      margin-left: -10px;
    }
  }

  ul {
    margin: 0;
    padding: 0;
  }

  hr {
    border: 0px;
    border-top: 2px white solid;
    margin: 5px 0 0 0;
    padding: 0px;
  }
}
