@import "../../config/_variables";
@import "../../mixin/_flex";
@import "../../mixin/_area";
@import "../../mixin/_main-button";

.session {
  input {
    outline: none;
  }
  @include justify();

  &--page-container {
    @include flex-all();
    width: 60%;
    border: 1px black solid;
    border-radius: 8px;
    margin-top: 30px;
    padding: 20px 10px;
    transition: .6s;

    a {
      color: $base-color;
      text-decoration: none;
    }

    &:hover {
      transition: .6s;
      box-shadow: 2px 2px 4px gray;
    }

    &--container {
      width: 70%;

      text-align: left;

      &__top-title {
        font-size: 28px;
        margin: 20px 0;
      }
      &__top-line {
        border: 1px black solid;
        margin-bottom: 20px;
        opacity: 0.4;
        width: 100%;
      }
      &__login-form {
        &__group {
          margin-bottom: 20px;
          &--input {
            display: inline;
            background-color: aliceblue;
            border: 1px gray solid;
            border-radius: 4px;
            margin: 10px auto;
            padding: 5px;
            font-size: 18px;
            @include area(100%,20px);
          }
        }
        &--check-box {
          display: inline;
          margin: 0 10px;
        }

        &--submit-button {
          @include main-button(30%);
        }
      }
    }
  }
}
