.crafes {

  text-align: center;

  // 変数宣言
  $base-hf-height : 55px;
  $base-hf-color : #00a3af;
  $base-height-size : 250px;
  $base-bg-color : #a2d7dd;
  $base-cmpn-color : #008899;

  // display を flex にするmixin
  @mixin flex-design {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
  }

  @mixin reset-css {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
  }

  // ヘッダー、フッターのベース
  @mixin base-hf {
    height: $base-hf-height;
    background-color: $base-hf-color;
  }

  @mixin position-set-center {
    position:absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform : translate(-50%,-50%);
    transform : translate(-50%,-50%);
  }

  // 水平線
  hr {
    @include reset-css();
    margin: 0 auto;
    border-bottom: $base-cmpn-color 3px dashed;
  }

  table {
    margin: 15px auto;
    border: solid 2px $base-cmpn-color;
    border-collapse: collapse;
    th,td{
      border: 1px solid $base-cmpn-color;
      padding:5px 10px;
    }
    th{
      font-size: 18px;
    }

    @media screen and (min-width:600px) and (max-width:959px) {
      margin: 15px 10px;
    }
  }

  h2{
    font-size: 20px;
    margin: 15px 0px;
    color: $base-cmpn-color;
  }

  p{
    margin: 10px 0;
    font-size: 15px;
  }

  a{
    text-decoration: none;
    &:hover{
      text-decoration: none;
    }
    &:visited{
      color: blue;
      text-decoration: none;
    }
  }

  header{
    @include base-hf();
    img{
      width:240px;
    }
  }

  footer{
    @include base-hf();
    .back-link{
      @include flex-design();
      justify-content:center;

      .link-btn {
        margin: 15px 0;
        padding: 0 15px;
        a {
          color: white;
        }
        i {
          color: white;
          margin-right: 7px;
          margin-top:2px;
        }
      }
    }
  }

  .short-line {
    width:70%;
    @media screen and (min-width:960px){
      width:55%;
    }
  }

  .long-line{
    width:90%;
  }

  // 各ページmain内の上部
  .top-wrapper {
    width: 100%;
    height: $base-height-size;
    @include flex-design;
    align-items: center;
    #top-logo img {
      width: 800px;
    }

    #top-title h1{
      font-size: 60px;
    }

    @media screen and (min-width:600px) and (max-width:959px) {
      h1 {
        color: red;
      }
    }


  }

  .add-base-color {
    background-color: $base-bg-color;
  }

  .descript-section {
    padding: 20px 0;
  }

  // Flash Css
  .flash{
    @include flex-design();
    justify-content: center;
    align-items: center;
    background-color: darkorange;
    color:white;
    padding:3px 0px;
  }

  .detailed{
    margin: 30px 0;

    h2{
      font-size: 40px;
      color: black;
    }

    span{
      color: $base-cmpn-color;
      font-size: 45px;
    }
  }

  .description-wrapper a{
    color: black;
  }
  .box-section{
    border: 2px $base-cmpn-color solid;
    display: inline-block;
    width: 200px;
    padding: 15px;
    margin: 50px 20px;
    text-align: left;

    h2{
      text-align: center;
      border-bottom: 1px gray solid;
      margin-bottom: 5px;
    }

    p{
      padding: 2px;
      line-height: 1.6em;
    }

    position: relative;
    transition: 0.5s;
    top: 0;

    &:hover{
      box-shadow: 0 10px 6px -6px #777;
    }

  }

  .join-wrapper h2 {
    color: black;
    font-size: 45px;
  }

  .btn {
    border: 2px $base-hf-color solid;
    width: 180px;
    margin: 30px auto;
    padding: 7.5px;
    border-radius: 10px;
    a {
      display: block;
      color: $base-cmpn-color;
      font-size: 18px;
    }

    &:hover {
      background-color: $base-bg-color * 1.2;
    }

    input {
      border: 0px;
      display: block;
      color:  $base-cmpn-color;
      background-color: rgba(255,0,0,0);
      font-size: 18px;
      margin: 0 auto;
      width: 100%;
    }
  }

  @media screen and (max-width:480px) {
    p{
      font-size: 13px;
    }

    th,td {
      font-size: 13px;
    }
  }

}
