$hfColor : #00a3af;
$hfHeight : 55px;
$tWrppColor : #a2d7dd;
$tWrppHeight : 250px;


hr {
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
  width:55%;
  margin: 0 auto;
}

table {
  border: solid 2px $tWrppColor;
  border-collapse: collapse;
  th,td{
    border: 1px solid $tWrppColor;
    padding:5px;
  }
  th{
    font-size: 18px;
  }
}


@mixin wrppMixin {
  clear: both;
  text-align: center;
  margin:2px;
}

@mixin deWrpp {
  padding: 20px 0;
  display: inline-block;
  h2{
    font-size:20px;
    margin: 15px 0px;
    color:#008899;
  }
  p{
    margin: 10px 0;
    font-size:15px;
  }
}



.crafes{
  
  .long-hr{
    width:90%;
    padding: 10px 0;
  }
  
  .detailed{
    margin: 30px 0;
    text-align: center;
    
    h2{
      font-size: 40px;
      
      span{
        color: $hfColor;
        font-size: 45px;
      }
    }
  }
  
  input{
    border-radius: 3px;
    border: 1px $hfColor solid;
  }
  
  textarea{
    border-radius: 10px;
  }
  
  .top-wrap{
    text-align: center;
    color: black;
    padding-top: 20px;
    
    h1{
      font-size: 80px;
    }
    
    p{
      font-size: 20px;
    }
  }
  
  .flash{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkorange;
    color:white;
    padding:3px 0px;
  }
  
  .header-section{
    border: 2px $hfColor solid;
    display: inline-block;
    width: 200px;
    padding: 15px;
    
    h2{
      text-align: center;
      border-bottom: 1px gray solid;
      margin-bottom: 5px;
    }
    p{
      padding: 2px;
      line-height: 1.6em;
    }
    
    position: relative;
    transition: 0.5s;
    top: 0;
    
    &:hover{
      
      
      box-shadow: 0 10px 6px -6px #777;
    }
    
  }
  
  .btn-wrapper{
    text-align: center;
  }
  
  .descript-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 100px;
  }
  
  #top-page{
    padding:20px;
    text-align: center;
  }
  
  #controll-panel{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .propaty{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  a{
    text-decoration: none;
    color:$hfColor;
  
    &hover{
      text-decoration: none;
    }
  }
  
  
  header{
    height: $hfHeight;
    background-color: $hfColor;
    text-align: center;
    img{
      width:240px;
    }
  }
  
  footer{
    position:relative;
    height: $hfHeight;
    background-color: $hfColor;
    .back-link{
      display: flex;
      position:absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%,-50%);
      -webkit-transform : translate(-50%,-50%);
      transform : translate(-50%,-50%);
      a{
        color:white;
        text-decoration: none;
        display: block;
        width:100%;
      }
      i{
        color:white;
        margin-right: 7px;
        margin-top:3px;
      }
    }
  }
  color:#474444;
  .top-wrapper{
    height:$tWrppHeight;
    background-color: $tWrppColor;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    #top-logo{
      img{
        width:800px;
      }
    }

    #top-title{
      margin-top: 50px;
      h1{
        font-size: 60px;
      }
    }
  }

  .description-wrapper{
    @include wrppMixin();
  }

  .descript{
    @include deWrpp();
  }

  .descript1{
    @include deWrpp();
  }


  .about-wrapper{
    @include wrppMixin();
  }

  .join-wrapper{
    @include wrppMixin();
  }

  .space{
    height: 50px;
  }

  a{
    width: 100%;
  }

  hr{
    border-bottom: #008899 3px dashed;
  }
  

  
  .btn{
    background-color: #a2d7dd;
    border-radius: 4px;
    padding: 6px 70px;
    color:rgb(43, 43, 43);
    &:hover{
      background-color: #caecf0;
    }
  }
  

  .about{
    text-align: center;
  }
  
  
}