@import url('https://fonts.googleapis.com/css?family=M+PLUS+1p');

@mixin sns-button{
  padding:5px;
  border-radius: 5px;
  color:white;
  font-size: 15px;
  margin: 0px 10px;
  //SNSで登録ボタンの装飾
}

*{
  margin: 0;
  padding: 0;
  font-family: 'M PLUS 1p', sans-serif;
}

.main{
  background-color:#f0f0f0 ;
  height: 790px
}

p{
  text-align: center;
}

li{
  list-style: none;
}

.logo-img{
  width: 300px;
}

.signup-img img{
  height: 560px;
  margin: 75px 20px;
  border-radius: 10px;
}

a{
  text-decoration: none;


}

a:visited{
  color:black;
}

.signup-img,.signup-box{
  float: left;
}

.signupBtn-wrapper{

}

.signup-box{
  border: 1px #808080 solid;
  border-radius: 5px;
  padding: 30px;
  margin: 30px;
  background-color:white ;
  height: 580px;
}

i{
  margin-left: 2px;
  margin-right:5px;
}



.twitter-btn{
  background-color: rgba(0, 172, 237, 1) ;
  @include sns-button;
  margin-left: 40px;
}

.google-btn{
  background-color: rgba(219, 74, 57, 1);
  @include sns-button;
}

.lobi-btn{
  background-color: rgb(255, 130, 40);
  @include sns-button;
}

.btn-wrapper{
  margin: 20px 5px 0 5px;
}

hr{
  margin: 30px 0;
}

.footer {
  li{
    float: left;
    padding: 5px 15px;
  }
  margin: 0 250px;
}
