$height : 55px; // ヘッダーフッター用の height 
$MiftonColor : #ec6d51; // Mifton用のメインカラー
$BackColor : #ecad9f;
$Color : white; // ヘッダーフッター文字カラー
$TextColor: #474444;


img{
  margin: 0;
  padding:0;
}

hr {
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
  width:55%;
  margin: 0 auto;
}

.home{
  @mixin basic {
    height: $height;
    background-color: $MiftonColor;
  }

  header{
    @include basic();
    text-align: center;
    img{
      width:240px;
    }
  }

  footer{
    @include basic();
    position:relative;
    .link-list{
      display: flex;     
      position:absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%,-50%);
      -webkit-transform : translate(-50%,-50%);
      transform : translate(-50%,-50%);

      li{
        padding: 0px 10px;
        list-style: none;
        
      }
      a{
        text-decoration: none;
        color: $Color;
      }
    }
  }

  main{
    height: auto;
    text-align: center;

    .top-wrapper{
      img{
        width: 100%;
        vertical-align: bottom;
      }
    }

    .main-wrapper{
      background: $BackColor;
      color:$Color;
      height: 350px;
      img{
        margin-top: 20px;
        width: 50%;
      }
      p{
        font-size: 25px;
      }
    }

    .signup-wrapper{
      hr{
        border-bottom: $MiftonColor 3px dashed;
      }
      p{
        color: $TextColor;
        font-size: 22px;
        margin-top: 5px;
      }
    }
  }
}

