$MiftonColor : #ec6d51; // Mifton用のメインカラー
// 変数宣言
$base-hf-color : #ec6d51;
$base-bg-color : #383c3c;
$base-cmpn-color : #474444;

.users {
  a{
    text-decoration: none;
    &:hover{
      text-decoration: none;
    }
    &:visited{
      color: blue;
      text-decoration: none;
    }
  }

  hr {
    border: 0.5px gray solid;
  }

  input, input[type="submit"] {
    display: block;
    width: 40%;
    height: 50px;
    margin: 10px auto;
    padding: 5px;
    font-size: 18px;
  }

  input[type="submit"] {
    border-radius: 0px;
  }

  .btn {
    border: 2px $base-hf-color solid;
    width: 180px;
    margin: 30px auto;
    padding: 7.5px;
    border-radius: 10px;
    a {
      display: block;
      color: $base-cmpn-color;
      font-size: 18px;
    }
    
    &:hover {
      background-color: $base-bg-color * 1.2;
    }
    
    input {
      border: 0px;
      display: block;
      color:  $base-cmpn-color;
      background-color: rgba(255,0,0,0);
      font-size: 18px;
      margin: 0 auto;
      width: 100%;
    }
  }
}

