@import "../../../config/_variables";
@import "../../../mixin/_flex";
@import "../../../mixin/_area";
@import "../../../mixin/_main-button";
@import "../../../mixin/_pc_header";


@media screen and (min-width:960px) {

  .bector {
    .application_header {
      @include application_header(linear-gradient(to right, #182848, #4b6cb7));
    }
  }

  .app_reactionContainer {
    display: flex;

    &:hover {
      background-color: #f3f3f2;
    }
  }

  .app_reaction {

    button {
      border: none;
      font-size: 18px;
      color: gray;
      outline: none;
      background-color: rgba(0,0,0,0);
    }

    span {
      padding-right: 5px;
      color: black;

      &:visited {
        color: black;
      }
    }
    &-gray {
      color: #afafb0;
    }

    &-pink {
      color: #f09199;
    }

    &-blue {
      color: #0095d9;
    }

    &-deepskyblue {
      color: #007bbb;
    }

    &-darkorange {
      color: #eb6101;
    }

    &-red {
      color: #e83929;
    }
  }

  .be {

    background-color: #eaf4fc;

    &_searchForm {
      width: 80%;
      margin: 10px auto;
      background-color: white;

      input {
        width: 70%;
        border: 0px;
        display: block;
        margin: 0 auto;
        outline: none;
        padding: 10px 30px 10px 0;
        font-size: 16px;
      }

    }

    &_menuTab {
      width: 80%;
      background-color: white;
      margin: 10px auto;


      p {
        font-size: 16px;
        color: #007bbb;
        padding: 3px 5px;
      }

      i {
        font-size: 20px;
        width: 10%;
        padding: 5px 5px;
      }

    }





  }



  .be_logouted {


    &_backgroundImg {
      background-image: url("/bector-top.jpg");

      background-size: cover;
      width: 100vw;
      height: 100vh;
      display: flex;

      &_rightCoverd {
        width: 50%;
        height: 100%;
      }

      &_leftCoverd {
        background-color: white;
        width: 50%;
        height: 100%;

        &_post {

          i {
            padding-right: 6px;
          }

          border-bottom: 1px dashed #007bbb;
          //transform: scale(0.9);
        }
      }
    }
  }

}
