@import "../../../config/_variables";
@import "../../../mixin/_flex";
@import "../../../mixin/_area";
@import "../../../mixin/_main-button";
@import "../../../mixin/_pc_header";


@media screen and (min-width:960px) {

  .bector {
    .application_header {
      @include application_header(linear-gradient(to right, #182848, #4b6cb7));
    }
  }

  .app_reaction {
    span {
      padding-right: 5px;
      color: black;

      &:visited {
        color: black;
      }
    }
    &-gray {
      color: #afafb0;
    }

    &-pink {
      color: #f09199;
    }

    &-blue {
      color: #0095d9;
    }

    &-deepskyblue {
      color: #007bbb;
    }

    &-darkorange {
      color: #eb6101;
    }

    &-red {
      color: #e83929;
    }
  }

  .be {
    background-color: #eaf4fc;
    display: flex;
    position:relative;

    &_leftWrapper {
      width: 25%;
      height: 100vh;
      position: sticky;
      top: 0px;

      &_currentUserInfo {
        position: relative;

        &_conditionCard {
          width: 80%;
          margin: 0 auto;
          background-color: white;

          &_userName {
            font-size: 20px;
            font-weight: bold;
            padding-left: 110px;
            padding-top: 5px;
          }

          &_userID {
            font-size: 13px;
            padding-left: 110px;
            font-weight: lighter;
          }

          &_line {
            display: flex;
            padding-top: 7px;
            padding-bottom: 6px;

            &_dataGroup {
              padding: 0 14px;
              &-dataName {
                font-size: 13px;
                font-weight: lighter;
              }
              &-data {
                color: #007bbb;
                font-weight: 900;
                font-size: 16px;
              }
            }
          }
        }

        &_userHeaderImg {
          display: block;
          width: 80%;
          margin: 0 auto;
          padding-top: 10px;
        }

        &_userIconImg {
          position: absolute;
          border: 3px solid white;
          border-radius: 50%;
          display: block;
          width: 19%;
          top: 28%;
          left: 14%;
        }
      }

      &_searchForm {
        width: 80%;
        margin: 10px auto;
        background-color: white;

        input {
          width: 70%;
          border: 0px;
          display: block;
          margin: 0 auto;
          outline: none;
          padding: 10px 30px 10px 0;
          font-size: 16px;
        }

      }

      &_menuTab {
        width: 80%;
        background-color: white;
        margin: 10px auto;


        p {
          font-size: 16px;
          color: #007bbb;
          padding: 3px 5px;
        }

        i {
          font-size: 20px;
          width: 10%;
          padding: 5px 5px;
        }

      }
    }

    &_centerWrapper {
      width: 50%;

      &_mobileHeader {
        display: none;
      }

      &_postForm {
        background-color: #c9deff;
        margin-top: 10px;
        padding: 10px 4px 0;

        &_container {
          display: flex;
          align-items: flex-start;

          &_userIcon {
            border-radius: 50%;
            width: 5%;
            margin-left: 5%;
            margin-right: 2%;
          }
          form,p {
            display: block;
            width: 100%;
          }
          textarea {
            width: 80%;
            height: 60px;
            resize: none;
            border: 2px solid #007bbb;
            border-radius: 10px;
            padding: 10px;
            outline: none;
            font-size: 16px;
            margin: 0 auto;
          }

          input[type="text"] {
            width: 80%;
            height: 10px;
            resize: none;
            border: 2px solid #007bbb;
            border-radius: 10px;
            padding: 10px;
            outline: none;
            font-size: 13px;
            margin: 0 auto 10px;
          }
        }


      }

      &_timeLine {
        margin-bottom: 20px;

        .fas, .far {
          padding: 0 3px;
        }

        &_post {
          border-top: 0.5px dashed #007bbb;
          display: flex;
          flex: flex-start;
          background-color: white;



          &_textData {
            width: 90%;

            &_row {
              display: flex;
              align-items: center;
              padding-top: 10px;

              &_userName {
                font-weight: bold;
                margin-right: 30px;

                .fa-star {
                  padding: 0;
                }
              }

              &_userID, &_date {
                margin-right: 10px;
                color: gray;
              }

            }

            &_content {
              padding: 10px 0;
            }
            &_postImg {
              width: 30%;
              display: block;
              padding: 10px 0px;
            }

            &_report {
              color: #afafb0;
              font-size: 13px;
              padding: 0 10px;

              &:visited {
                color: #afafb0;
              }
            }


          }

          &_userIcon {
            width: 10%;
            img {
              border-radius: 50%;
              width: 60%;
              display: block;
              margin: 15px auto 0;
            }
          }


        }

      }
    }

    &_rightWrapper {
      width: 25%;
      height: 100vh;
      position: sticky;
      top: 0px;

      &_notification {
        background-color: white;
        width: 90%;
        height: 95%;
        margin: 15px auto;


        hr {
          border: 0px;
          border: 0.5px dashed #007bbb;
        }

        &_infoCardList {
          overflow: scroll;
          height: 95%;
          &-card {
            padding: 8px;
          }
        }

        &_title {
          color: #007bbb;
          font-weight: bold;
          font-size: 20px;
          padding: 5px 0;

          i {
            padding: 0 10px;
          }
        }
      }
    }

  }



  .be_logouted {


    &_backgroundImg {
      background-image: url("/bector-top.jpg");

      background-size: cover;
      width: 100vw;
      height: 100vh;
      display: flex;

      &_rightCoverd {
        width: 50%;
        height: 100%;
      }

      &_leftCoverd {
        background-color: white;
        width: 50%;
        height: 100%;

        &_post {

          i {
            padding-right: 6px;
          }

          border-bottom: 1px dashed #007bbb;
          //transform: scale(0.9);
        }
      }
    }
  }

}
