@media screen and (max-width:425px) {
  .home, .manage {
    background-color: #eaf4fc;

    .application_header {

      background: #ec6d51;
      height: 50px;
      color: white;

      &_wide {
        display: none;
      }

      &_mobile {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
      }

      &_logo {
        padding-right: 30%;

        a {
          color: white;
          font-size: 1.2em;

          i {
            padding-right: 0.5em;
          }
        }

      }

      &_hamburger {
        padding-right: 5%;
      }
    }
  }
}
